absl-py
astor
cycler
gast
grpcio
h5py
importlib-metadata
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mock
numpy
opencv-python
Pillow
protobuf
pydot
pyparsing
python-dateutil
PyYAML
scikit-learn
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
Werkzeug
zipp
tensorflow-datasets